@keyframes u-turn {
  from {
    transform: rotate(0deg)
  }
  to {
    transform: rotate(360deg)
  }
}
.rotation{
  animation-name: u-turn;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
